@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --color-surface-dim: #15121b;
  --color-surface: #15121b;
  --color-surface-bright: #3c3742;
  --color-surface-container-lowest: #100d15;
  --color-surface-container-low: #1d1a23;
  --color-surface-container: #221e27;
  --color-surface-container-high: #2c2832;
  --color-surface-container-highest: #37333d;
  --color-on-surface: #e8e0ed;
  --color-on-surface-variant: #ccc3d7;
  --color-outline: #968da0;
  --color-outline-variant: #4a4454;
  --color-primary: #d4bbff;
  --color-on-primary: #40008c;
  --color-primary-container: #8247e5;
  --color-on-primary-container: #f5eaff;
  --color-secondary: #3fe397;
  --color-on-secondary: #003920;
  --color-error: #ffb4ab;
  --color-error-container: #93000a;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-surface-dim text-on-surface font-sans;
  }
}
